@model IEnumerable<Microsoft.Graph.Models.Message>

<div class="text-center">
    <div class="text-center">
    <h1 class="display-4">Welcome, @ViewData["DisplayName"]</h1>
        
    <table class="table table-striped text-start">
        <thead>
            <tr>
                <th>Subject</th>
                <th>Received</th>
                <th>From</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var mail in Model)
                {
                    <tr>
                        <td>@mail.Subject</td>
                        <td>@mail.ReceivedDateTime?.ToString("yyyy-MM-dd HH:mm")</td>
                        <td>@mail.From?.EmailAddress?.Name</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>